.about-block {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

abbr {
    cursor: help;
}

blockquote {
    margin: 0;
    padding: 20px;
    font-family: var(--font-family-title);
    font-size: var(--font-size-title2);
}

.avatar {
    height: 100%;
}

