.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer-wrapper {
    font-family: var(--font-family-title);
}

.timer {
    font-size: var(--font-size-mega-title);
}

.null-point {
    color: var(--extra-color);
}

.milliseconds {
    font-size: var(--font-size-title1);
}

.inactive {
    display: none;
}