.text {
    display: flex;
    justify-content: center;
}

.error {
    color: darkred;
    display: none;
}

.game-table-wrapper {
    display: flex;
    justify-content: center;
}

.game-table {
    margin: 10px 0;
}

.input-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-area-block {
    align-self: center;
}

.input-area {
    height: 30px;
    width: 50px;
    padding: 5px 10px;
    background: transparent;
    border: solid 2px var(--contrast-color);
    border-top-left-radius: 8px;
    margin: 10px 5px;
}

.right-area {
    border-top-left-radius: 0;
    border-top-right-radius: 8px;
}

.cell-button {
    height: 50px;
    width: 50px;
    margin: 5px;
    border-radius: 100%;
    border: none;
    background-color: var(--extra-color);
}

.mole {
    cursor: pointer;
}

.mole,
.active {
    background-color: var(--contrast-color);
}

.game-timer,
.game-score,
.game-description,
.congratulation-text,
.button {
    margin: 10px 0;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.congratulation-block {
    display: none;
}