.text {
    display: flex;
    justify-content: center;
    margin: 0 150px;
}

.error {
    color: pink;
    display: none;
}

.game-table-wrapper {
    display: flex;
    justify-content: center;
}

.game-table {
    margin: 1rem 0;
}


.input-block {
    display: flex;
    justify-content: center;
}

.input-area {
    height: 2rem;
    margin: 1rem 0;
}

.input-area[disabled] {
    display: none;
}

.cell-button {
    height: 50px;
    width: 50px;
    margin: 5px;
    border-radius: 100%;
    border: none;
    background-color: var(--extra-color);
}

.mole {
    cursor: pointer;
}

.mole,
.active {
    background-color: var(--contrast-color);
}

.game-timer,
.game-score,
.game-description {
    margin: 1rem 0;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.game-button {
    align-self: center;
    padding: 10px 20px;
    margin: 10px;
    color: var(--text-color);
    background-color: var(--contrast-color);
    border-radius: 8px;
    border: none;
    font-family: Lato, Arial, sans-serif;
    font-size: 18px;
}

.game-button:hover {
    background-color: var(--select-color);
    cursor: pointer;
}

.congratulation-block {
    display: none;
}