.messenger {
    display: flex;
    font-size: 14px;
    min-height: 300px;
    height: 70vh;
    border: solid 2px var(--contrast-color);
}

.users-block {
    width: 25%;
    border-right: solid 2px var(--contrast-color);
}

.user {
    height: 60px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user:hover,
.active {
    color: var(--select-color);
    border-top: 2px solid var(--select-color);
    border-bottom: 2px solid var(--select-color);
}

.user-avatar {
    height: 40px;
    min-width: 40px;
    background: transparent;
    border: 2px solid var(--contrast-color);
    border-top-left-radius: 10px;
    margin: 0 15px;
}

.user-avatar-img {
    width: 100%;
    height: 100%;
}

.chat-block {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 10px;
}

.messages-block {
    overflow-y: auto;
    padding-right: 5px;
}

.input-block {
    display: flex;
    align-items: flex-end;
    margin-top: 10px;
}

.input-area {
    height: auto;
    overflow-y: hidden;
    background: transparent;
    padding: 10px 15px;
    margin-right: 20px;
    width: 100%;
    max-height: 100px;
    resize: none;
    color: var(--text-color);
    border: 1px solid var(--contrast-color);
    border-top-left-radius: 10px;
    font-family: var(--font-family);
    font-size: 14px;
}

.message-wrapper {
    width: 100%;
    display: flex;
    margin: 5px 0;
}

.message {
    border: solid 1px var(--contrast-color);
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 5px 10px;
    min-width: 20%;
    max-width: 80%;
    word-wrap: break-word;
}

.sent-message-wrapper {
    justify-content: end;
}

.sent-message {
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

.message-header {
    margin-bottom: 5px;
    color: var(--extra-color);
}

.message-time {
    font-size: var(--font-size-text2);
    margin-left: 5px;
}